table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.table {
    border-collapse: collapse;
}

    .table td, .table th {
        background-color: #fff;
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
    font-family: Montserrat,sans-serif!important;
}

.invoice-sec {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
}

.invoice-inr-sec {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: auto;
}

.invoice-wpr {
    margin: 0;
    padding: 3px 3px;
    width: 100%;
    height: auto;
    float: left;
    background: #ffffff; 
}

.prnt-btn-sec {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: auto;
}

.prnt-btn-wpr {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
    background: #eafff3;
}

.print-btn {
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    float: right;
    background: url(print.png) no-repeat;
    background-size: 100%;
    background-color: #00bb51;
    border: 5px solid #24b663;
    cursor: pointer;
}

.back-btn {
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    background: url(back.png) no-repeat;
    background-size: 100%;
    background-color: #00bb51;
    border: 5px solid #24b663;
    cursor: pointer;
}

p {
    color: #000;
}

a {
    color: #000;
}

h1 {
    color: #000;
}

h2 {
    color: #000;
}
/*=======================================*/

.certificate-wpr {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-wpr1 {
    margin: 0;
    padding: 25px 15px;
    width: 100%;
    float: left; 
}

.certificate-wpr2 {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-no-sec {
    margin: 0;
    padding: 0px 0px;
    width: 50%;
    float: left;
}

.certificate-no-p {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 500;
}

.certificate-adm-no-p {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}

.certificate-logo-sec {
    margin: 30px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
}

    .certificate-logo-sec img {
        margin: 0;
        width: 120px;
    }

.certificate-comp-name-h {
    margin: 15px 0px 5px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.certificate-comp-add-p {
    margin: 6px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    text-align: center;
}

.certificate-comp-mail-p {
    margin: 30px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
}

    .certificate-comp-mail-p span {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        text-decoration: underline;
    }


.certificate-type-name-sec {
    margin: 45px 0px 45px 0px;
    padding: 0px 0px;
    width: 100%;
    text-align: center;
    float: left;
}

.certificate-type-name-h {
    margin: 0;
    padding: 4px 20px;
    width: auto;
    background: #c7c7c7;
    display: initial;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 1px;
}

.certificate-type-name-h1 {
    margin: 0px 0px 20px 0px;
    padding: 10px 20px;
    width: 100%;
    display: initial;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0px;
    float: left;
    text-align: center;
}

.certificate-content-sec {
    margin: 0;
    padding: 10px 90px;
    width: 100%;
    float: left;
}

.certificate-content-p {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    text-align: justify;
}

    .certificate-content-p span {
        margin: 0;
        padding: 0px 0px;
        text-decoration: underline;
    }

.certificate-content-note-p {
    margin: 39px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    text-align: justify;
}

.certificate-footer-sec {
    margin: 315px 0px 40px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-footer-secs {
    margin: 300px 0px 40px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-footer-p-lft {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 16px;
    font-weight: 500;
}

.certificate-footer-p-cntr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.certificate-footer-p-rght {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
/*========================================*/
.certificate-content-t-sec {
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-type-name-t-sec {
    margin: 10px 0px 15px 0px;
    padding: 0px 0px;
    width: 100%;
    text-align: center;
    float: left;
}

.certificate-comp-mail-t-p {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
}

.crtifcate-dvder3 {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.crtifcate-dvder3-p-lft {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 37%;
    float: left;
    font-size: 14px;
    font-weight: 500;
}

.crtifcate-dvder3-p-cntr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 26%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.crtifcate-dvder3-p-rght {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 37%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.crtifcate-contnt-t-wpr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.crtifcate-contnt-t-row {
    margin: 0px 0px 0px 0px;
    padding: 4px 0px;
    width: 100%;
    float: left;
}

.crtifcate-contnt-t-p-lft {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 0px;
    width: 47%;
    float: left;
    font-size: 14px;
    line-height: 21px;
    position: relative;
}

    .crtifcate-contnt-t-p-lft span {
        padding: 0px 0px;
        width: 30px;
        float: left;
    }

    .crtifcate-contnt-t-p-lft i {
        padding: 0px 0px;
        float: right;
        font-style: inherit;
        font-weight: 700;
        width: 20px;
        position: absolute;
        text-align: center;
        top: 0px;
        right: 0px;
    }

.crtifcate-contnt-t-p-rght {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 53%;
    float: left;
    line-height: 22px;
    font-size: 14px;
}

.certificate-logo-t-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
}

    .certificate-logo-t-sec img {
        margin: 0;
        width: 120px;
    }

.certificate-wpr1-t {
    margin: 0;
    padding: 0px 15px 5px;
    width: 100%;
    float: left;
    border: 2px dotted #878787;
}

.certificate-footer-t-sec {
    margin: 30px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

.certificate-footer-pt-lft {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 14px;
    font-weight: 500;
}

.certificate-footer-pt-cntr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.certificate-footer-pt-rght {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 33%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.t-crtifcate-hdr-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #afafaf;
}

.t-crtifcate-logo-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 13%;
    float: left;
}

    .t-crtifcate-logo-sec img {
        width: 100%;
    }

.t-crtifcate-hdr-contnt-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 87%;
    float: left;
}


.t-certificate-comp-name-h {
    margin: 10px 0px 5px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.t-certificate-comp-add-p {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    text-align: center;
}

.t-certificate-comp-mail-p {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
}

    .t-certificate-comp-mail-p span {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        text-decoration: underline;
    }

.t-certificate-type-name-h {
    margin: 0;
    padding: 4px 10px;
    width: auto;
    background: #c7c7c7;
    display: initial;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}

.dec-width {
    width: 55.4%;
}

.dec-width1 {
    width: 44.6%;
}

.t-certificate-img-dv-cnt-wpr {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px;
    width: 85%;
    float: left;
}

.t-certificate-img-dv {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 15%;
    float: left;
}

    .t-certificate-img-dv img {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
        float: left;
    }
/*=============================================*/

/*=====================================================*/
.crtificate-wpr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.crtificate-ttl1-h2 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.crtificate-ttl2-h2 {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.crtificate-date-p {
    margin: 30px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 13px;
    LINE-HEIGHT: 20PX;
}

    .crtificate-date-p span {
        font-weight: 600;
    }

.crtificate-nm-p {
    margin: 40px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

    .crtificate-nm-p span {
        font-weight: 600;
    }

.crtificate-content-p {
    margin: 5px 0px 6px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    line-height: 26px;
    font-size: 15px;
}

    .crtificate-content-p span {
        font-weight: 600;
    }

    .crtificate-content-p i {
        font-weight: 600;
        width: 100%;
        float: left;
        margin: 3px 0px 5px 0px;
    }

.crtificate-wish-p {
    margin: 15px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

.crtificate-for-p {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

    .crtificate-for-p span {
        font-weight: 600;
    }

.slrystpnd-p {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

    .slrystpnd-p span {
        font-weight: 600;
    }

.slrystpnd1-p {
    margin: 21px 0px 0px 0px;
    padding: 5px 0px 0px 25px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 25px;
}

.slrystpnd1rr-p {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 26px;
}

.slrystpnd1rr-auth-p {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

.slrystpnd1rr-to-p {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 26px;
}

    .slrystpnd1rr-to-p span {
        font-weight: 600;
    }

.slrystpnd1rr-btm-p {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.ltrs-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

    .ltrs-ul li {
        margin: 0px 0px 0px 0px;
        padding: 5px 0px 5px 25px;
        width: 100%;
        float: left;
        line-height: 26px;
        font-size: 15px;
        list-style-type: none;
        text-align: justify;
    }

.ltrs1-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

    .ltrs1-ul li {
        margin: 0px 0px 0px 0px;
        padding: 5px 0px 5px 25px;
        width: 100%;
        float: left;
        line-height: 26px;
        font-size: 15px;
        list-style-type: none;
        text-align: justify;
    }


/*========================================*/

.jng-ltr-top {
    margin: 20px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 26px;
}

    .jng-ltr-top span {
        font-weight: 600;
    }

.jng-ltr-subjct-p {
    margin: 25px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

    .jng-ltr-subjct-p span {
        font-weight: 600;
    }

.jng-ltr-ponths-p {
    margin: 20px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}

.jng-ltr-ponths-dt-p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

    .jng-ltr-ponths-dt-p span {
        font-weight: 600;
    }

.jng-ltr-ponths-dt1112-p {
    margin: 20px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

    .jng-ltr-ponths-dt1112-p span {
        font-weight: 600;
    }

.jng-ltr-ponths-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
}

    .jng-ltr-ponths-ul li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        float: left;
        list-style-type: none;
        font-size: 14px;
        line-height: 25px;
    }

.jnngltr-for-p {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

    .jnngltr-for-p span {
        font-weight: 600;
    }

.jnngltr-for-name-sig {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
    width: 100%;
    float: left;
    font-size: 15px;
}

.jnngltr-for-name-btm-sig {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

.jnngltr-content-p {
    margin: 5px 0px 6px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    line-height: 26px;
    font-size: 14px;
    text-align: justify;
}

    .jnngltr-content-p span {
        font-weight: 600;
    }

.jng-ltr-ponths11-dt-p {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

    .jng-ltr-ponths11-dt-p span {
        font-weight: 600;
    }
/*==========================================*/
.crtificate-nm-p {
    margin: 40px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
}

.crtificate-date-p {
    margin: 13px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 13px;
    LINE-HEIGHT: 20PX;
}

.uan_txtbxs-td {
    margin: 0px;
    padding: 0px;
}

.uan_txtbxs {
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 26px;
    border: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    float: left;
}

.uan_txtbxs-td {
    margin: 0px;
    padding: 0px;
}

.uan_txtbxs {
    margin: 0px;
    padding: 0px;
    width: 30px;
    height: 26px;
    border: 0px;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
}

.prevpf-td {
    margin: 0px;
    padding: 0px;
}

.prev-pf-txtbx {
    margin: 0px;
    padding: 0px 5px;
    width: 100%;
    height: 26px;
    border: 0px;
    font-size: 13px;
    line-height: 27px;
}

.tiktxts {
    font-size: 16px;
}
