
body {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

.pagemainhh {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

/**********box*/
.box-bodym {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    float: left;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border-radius: 10px;
    border-left: 3px solid #0dcaf0;
}

.box-bodym33 {
    height: auto;
    width: 70%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.boxuser {
    height: auto;
    width: 30%;
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    text-align: center;
}

.boxuser1 {
    height: 50px;
    width: 50px;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #17ead9;
    background: -webkit-linear-gradient( 45deg, #17ead9, #6078ea) !important;
    background: linear-gradient( 45deg, #17ead9, #6078ea) !important;
    border-radius: 50px;
}

.totalp {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c757d;
    text-align: left;
}

.totalp1 {
    height: auto;
    width: 100%;
    margin: 2px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #0dcaf0;
    text-align: left;
}

.lebelheadpp {
    height: auto;
    width: 100%;
    margin: 0px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: #4c5258;
    text-align: left;
}

.btnfindaa {
    margin: 31px 2px 0px 0px;
    background: #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    border: 1px solid #e14eca;
    background-color: #e14eca;
    transition: all .15s ease;
    padding: 2px 10px 2px 10px;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .btnfindaa:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }

.btnfindaa2a {
    height: auto;
    margin: 15px 2px 0px 0px !important;
}


.boxmargmm {
    height: auto;
    width: 100%;
    margin: 30px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.home-grph-wpr {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.home-grph-wpr-smll {
    height: auto;
    width: 100%;
    margin: 70px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.headingtablee {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 5px 10px 5px;
    float: left;
    background-color: #fff;
}

.chatbigg {
    height: auto;
    width: 725px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.chatbiggsectionwise {
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.card-statistic-2 {
    width: 100%;
    height: 320px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
    padding: 10px;
}

.totalstuddd {
    width: auto;
    float: left;
    padding: 3px 38px 3px 3px;
    margin: 0px;
    font-size: 16px;
    color: #fff;
}

.resetbtnn {
    height: auto;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

tfoot, th, thead {
    background: #dbdbdb !important;
    color: #000 !important;
    font-weight: 500 !important;
    text-transform: inherit !important;
}

/************notification***********/
.notificationpan {
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0%;
    padding: 10px 10px;
    height: auto;
}

.closenotificationpan {
    position: absolute;
    margin: 0px 0px 0px 0px;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

#notification {
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 99999;
    /* float: left; */
    width: 100%;
}

sup, sub {
    color: red;
}

.form-label {
    margin-bottom: 3px;
    font-weight: 500;
}
/********end*/

/********16*/

.textcont1 {
    height: auto;
    width: 100%;
    margin: 2px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #4c5258;
    text-align: left;
}

.findbttonnn {
    height: auto;
    margin: 23px 2px 0px 0px;
    padding: 4px 10px 4px 10px;
    float: left;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .findbttonnn:focus {
        outline: none;
        box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
    }

.waiting {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    text-align: center;
}


.calmainn {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}
/*********17*/
.headingpccc-h1 {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
    color: #333;
    text-align: left;
}
/****************18*/
.form-control-custom {
    margin: 0px;
}

.container {
    width: 100%;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.paddlft {
    padding-left: 5px !important;
}

.paddrght {
    padding-right: 5px !important;
}

.chatbigg-inr {
    width: 100%;
    margin: 0px 0px 0px -69px;
}

.counts-tbls {
    width: 100%;
}

    .counts-tbls th {
        width: 100%;
        background: #fff !important;
        color: #323232;
        font-weight: 500;
        text-align: center;
        font-size: 13px;
        border: 1px solid #ddd;
        padding: 4px 0px 4px 0px;
    }

.livelocFalse {
    margin: 0px;
    padding: 0px;
    pointer-events: none;
}

    .livelocFalse a {
        margin: 0px;
        padding: 0px 5px 0px 5px;
        font-size: 15px;
        background: #c7c7c7;
        background-image: linear-gradient(to bottom left,#b1b1b1,#929193,#c5c5c5);
        background-size: 210% 210%;
        background-position: 100% 0;
        color: #fff;
        border-radius: 2px;
        pointer-events: none;
    }

        .livelocFalse a:hover {
            background: #c7c7c7;
            background-image: linear-gradient(to bottom left,#b1b1b1,#929193,#c5c5c5);
            background-size: 210% 210%;
            background-position: 100% 0;
            color: #fff;
        }

        .livelocFalse a i {
            margin: 0px;
            padding: 0px;
        }

.livelocTrue {
    margin: 0px;
    padding: 0px;
}

    .livelocTrue a {
        margin: 0px;
        padding: 0px 5px 0px 5px;
        font-size: 15px;
        background: #e14eca;
        background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
        background-size: 210% 210%;
        background-position: 100% 0;
        color: #fff;
        border-radius: 2px;
    }

        .livelocTrue a:hover {
            background: #e14eca;
            background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
            background-size: 210% 210%;
            background-position: 100% 0;
            color: #fff;
        }

        .livelocTrue a i {
            margin: 0px;
            padding: 0px;
        }
/*====================================================================*/
.iframe-wpr {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

.loction-back {
    margin: 0px;
    padding: 2px 7px 0px 7px;
    font-size: 15px;
    height: 28px;
    float: left;
    background: #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    color: #fff;
    border-radius: 2px;
}

.download-btns {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    background: #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    color: #fff;
    border-radius: 2px;
}

.bg-success {
    background-color: #17a00e !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.alert-success {
    color: #0f5132;
}

.alert.alert-success {
    background-color: #17a00e !important;
}

.fade {
    opacity: 1 !important;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    padding: 0;
    background: none;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: 0;
    border-radius: 0.25rem;
    background: #17a00e;
}

    .btn-close:hover {
        color: #000;
        text-decoration: none;
        opacity: .75;
    }

/*----------------chat admin------------*/
.chat-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 450px;
    float: left;
    position: relative;
}

.chat-send_msg-sec {
    margin: 0px;
    padding: 5px 5px;
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
}

.chat-send-msg-txtbx-wpr {
    margin: 0px 3px 0px 0px;
    padding: 0px;
    width: 78%;
    height: auto;
    float: left;
    border: 1px solid #000;
}

.chat-send-msg-txtbx {
    margin: 0px;
    padding: 0px 5px;
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 2px;
    border: 1px solid #16aaff;
}

.chat-send-msg-ddl-wpr {
    margin: 0px 3px 0px 0px;
    padding: 0px;
    width: 13%;
    height: auto;
    float: left;
    border: 1px solid #16aaff;
}

.chat-send-msg-ddl {
    margin: 0px;
    padding: 0px 5px;
    width: 100%;
    height: 60px;
    float: left;
    border-radius: 2px;
}

.chat-send-msg-btn-sec {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 7%;
    height: auto;
    float: left;
}

.chat-send-msg-btn-ul {
    margin: 9px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

    .chat-send-msg-btn-ul li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .chat-send-msg-btn-ul li a {
            margin: 0px;
            padding: 20px 15px 20px;
            background-color: #16aaff;
            border-color: #16aaff;
            color: #fff;
            font-size: 15px;
            border-radius: 2px;
        }



.chat-msg-bx {
    margin: 0px;
    padding: 0px 5px 0px 0px;
    width: 100%;
    height: 400px;
    float: left;
    overflow: auto;
}

.chat-msg-bxdfgdfg {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.chat-msg-bx-wpr {
    margin: 0px 0px 5px 0px;
    padding: 1px 7px 2px;
    max-width: 60%;
    height: auto;
    float: left;
    background: #ddd;
    border-radius: 2px;
}

.chat-msg-bx-wpr-p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 13px;
    line-height: 22px;
    color: #000;
}

.chat-msg-bx-wpr-date-time-p {
    margin: 2px 0px 1px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 11px;
    color: #000859;
}

.chat-msg-bx-wpr-sent-by {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 11px;
    color: #930000;
}

textarea.form-control1 {
    width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border-bottom: 1px solid #2b3553;
    border-radius: 0;
    line-height: 2;
    border-top: 1px solid #2b3553;
}

.form-txtbx-p {
    margin: 11px 0px 1px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 13px;
}

.txtbx-dv-wpr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.btns-dv-wpr {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.pontr-non {
    pointer-events: none;
}

.okay-butn {
    margin: 8px 10px 10px 0px;
    padding: 4px 8px 4px 8px;
    background: #177fff;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 20px;
    float: right;
    border: 1px solid #d1d1d1;
    text-decoration: none;
}

    .okay-butn:hover {
        background: #177fff;
        color: #fff;
    }

.not-okay-butn {
    margin: 8px 0px 10px 0px;
    padding: 4px 10px 4px 10px;
    background: #fff;
    color: #177fff;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 20px;
    float: right;
    border: 1px solid #d1d1d1;
}

    .not-okay-butn:hover {
        background: #fff;
        color: #177fff;
    }
/*=======================================*/


.popuptbls-tbls {
    width: 100%;
}

    .popuptbls-tbls tr th {
        background: #fff !important;
        color: #323232;
        font-weight: 500;
        text-align: center;
        font-size: 12px;
        border: 1px solid #ddd;
        padding: 4px 5px 4px 5px;
    }

    .popuptbls-tbls tr td {
        background: #fff !important;
        color: #323232;
        font-weight: 400;
        text-align: center;
        font-size: 12px;
        border: 1px solid #ddd;
        padding: 4px 5px 4px 5px;
    }

.ui-datepicker td {
    font-size: 11px;
}

.ui-datepicker {
    width: 13em;
}

    .ui-datepicker th {
        font-size: 12px;
        font-weight: 600 !important;
    }

    .ui-datepicker .ui-datepicker-title select {
        font-size: 13px;
    }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
/* ___________________________________________________*/

/*________________________Count_______________*/
.stdlst-count-dv {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.stdlst-count-bx-dv {
    margin: 0px 0px 10px 0px;
    padding: 17px 0px 14px;
    width: 20%;
    float: left;
    text-align: center;
    background-color: rgb(122 112 186 / 15%) !important;
}

.stdlst-count-bx-dv-ico {
    margin: 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
}

    .stdlst-count-bx-dv-ico i {
        padding: 5px 5px;
        background: #7a70ba;
        color: #fff;
        height: 40px;
        font-size: 22px;
        width: 40px;
        margin: 0 auto 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
    }

.stdlst-count-bx-name {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-weight: 500;
    color: #404040;
    letter-spacing: 0.6px;
    font-size: 11px;
}

.stdlst-count-bx-count {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.brd-rdius-lft {
    border-radius: 5px 0px 0px 5px;
}

.brd-rdius-rght {
    border-radius: 0px 5px 5px 0px;
}

.stdlst-count-bx-dv:hover .stdlst-count-bx-dv-ico i {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.std-info-fnd {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    right: 34px;
    top: 3px;
}

    .std-info-fnd span {
        font-size: 24px;
    }

@media only screen and (max-width:800px) {
    .stdlst-count-bx-dv {
        width: 50%;
    }
}