.stepper-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

    .stepper-item::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: -50%;
        z-index: 2;
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #ccc;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ccc;
        margin-bottom: 6px;
    }

    .stepper-item.active {
        font-weight: bold;
    }

        .stepper-item.active .step-counter {
            background-color: #ffc107;
        }





    .stepper-item.completed .step-counter {
        background-color: #4bb543;
        color: #fff;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #4bb543;
        width: 100%;
        top: 20px;
        left: 50%;
        z-index: 3;
    }

    .stepper-item:first-child::before {
        content: none;
    }

    .stepper-item:last-child::after {
        content: none;
    }

.diccontent {
    margin: 0px;
    padding: 0px 10px 10px 10px;
    float: left;
    height: auto;
    width: 100%;
}
/*---------------------------------------------*/
.flex-20, .layout-column > .flex-20, .layout-row > .flex-20 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
    flex: 1 1 20%;
    box-sizing: border-box;
}

.flex-20, .layout-row > .flex-20 {
    max-width: 20%;
    max-height: 100%;
    float: left;
    max-width: 36%;
}

.column-left {
    background: #f9f9f9 none repeat scroll 0 0;
    border-right: 1px solid #ebebeb;
    padding: 1px 20px;
}

    .column-left ul {
        list-style: outside none none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .column-left li {
        padding-bottom: 25px;
        position: relative;
        text-align: center;
    }

        .column-left li::after {
            border: 5px solid #cccccc;
            bottom: 0;
            content: "";
            height: 35px;
            left: 46%;
            margin-left: -11px;
            position: absolute;
            top: 149px;
        }

.l2::after {
    border: 5px solid #ffffff!important;
}




.chart {
    display: inline-block;
    height: 140px;
    position: relative;
    text-align: center;
    width: 140px;
    vertical-align: middle;
    z-index: 1;
}

.main-elem.chart {
    width: 125px;
    height: 125px;
}

.main-elem .text-wrap {
    height: 100px;
    margin-left: -50px;
    margin-top: -53px;
    width: 101px;
}

.text-wrap_main {
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 135px;
    left: 43%;
    margin-left: -67px;
    margin-top: -55px;
    position: absolute;
    top: 50%;
    height: 135px;
    z-index: 2;
    align-items: center;
    background: #ffc107 none repeat scroll 0 0;
    padding: 10px;
}


.text-wrap {
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 110px;
    left: 50%;
    margin-left: -53px;
    margin-top: -55px;
    position: absolute;
    top: 50%;
    width: 106px;
    z-index: 2;
    align-items: center;
    background: #17a00e none repeat scroll 0 0;
}

    .text-wrap > span {
        color: rgba(0, 0, 0, 0.5);
        display: block;
        font-size: 14px;
        line-height: 18px;
        text-overflow: ellipsis;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        width: 75px;
        margin: 0 auto;
    }



        .text-wrap > span label {
            display: block;
            color: #000;
        }

.active .chart .text-wrap > span,
.active .chart .text-wrap > span label,
.chart.active .text-wrap > span,
.chart.active .text-wrap > span label {
    color: #fff;
}

 .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

            .switch input {
                opacity: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }