.report-card-schl-website1 {
    width: 32% !important;
}

.report-card-schl-cont1 {
    width: 32% !important;
}

.report-card-schl-emil1 {
    width: 36% !important;
}

.report-card-wpr {
    background: rgb(255 255 255 / 84%) !important;
}
