table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.table {
    border-collapse: collapse;
}

    .table td, .table th {
        background-color: #fff;
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, #form1 {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

h2, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

.section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}


.print_form {
    margin: 0px auto;
    padding: 0px;
    width: 800px;
    height: auto;
}

.print_form-inr {
    margin: 0px 0px 30px 0px;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid #ddd;
}

.print_form-img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

    .print_form-img img {
        margin: 0px auto;
        float: left;
        padding: 0px 10px 0px 0px;
        border-right: 1px solid #ffa400;
    }

.print_form-dtls {
    margin: 7px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #ffc600;
}

.dtls_grp {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    width: 50%;
    height: auto;
    float: left;
}

.dtls_grp-inr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.dtls_grp-h {
    height: auto;
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #c54262;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    text-align: left;
}

.dtls_grp-lbl {
    height: auto;
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #000;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    text-align: left;
}

.print_table {
    margin: 0px 0px 0px 0px;
    padding: 10px 40px 10px 10px;
    width: 100%;
    height: auto;
    float: left;
}

table tr td {
    padding: 7px 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}
/*.print_table tr {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: auto;
        float: left;
        border: none;
    }

        .print_table tr td {
            height: auto;
            width: 25%;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            float: left;
            color: #c54262;
            font-size: 16px;
            line-height: 29px;
            font-weight: 400;
            text-align: left;
            border: none;
        }*/


.prnt-btn-sec {
    margin: 20px 0px 1px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.prnt-btn-sec-cntr {
    margin: 0px auto;
    padding: 0px;
    width: 750px;
    height: auto;
}

.print-pg-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.print-btn-sec {
    margin: 0px;
    padding: 3px;
    width: 99%;
    height: auto;
    float: left;
    /*background: #eafff3;*/
}

.print-btn {
    margin: 0px;
    padding: 0px;
    width: 55px;
    height: 55px;
    background: url(../images/print.png) no-repeat;
    background-size: 100%;
    background-color: #780a23;
    border: 5px solid #770821;
    cursor: pointer;
    float: right;
}

.back-btn {
    margin: 0px;
    padding: 0px;
    width: 55px;
    height: 55px;
    background: url(../images/back.png) no-repeat;
    background-size: 100%;
    background-color: #780a23;
    border: 5px solid #770821;
    cursor: pointer;
}

.dtls_grp-p {
    height: auto;
    width: 100%;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #770821;
    font-size: 17px;
    line-height: 29px;
    font-weight: 600;
    text-align: center;
}

.success-htitle-h {
    height: auto;
    width: 100%;
    margin: 6px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    float: left;
    color: #040404;
    font-size: 27px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
}

.print_form-dtls-ps {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

    .print_form-dtls-ps span {
        font-weight: 500;
    }

.pass-wpr {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    position: relative;
}

    .pass-wpr img {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        float: left;
    }

.pass-wpr-lbl-1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    right: 25px;
    top: 99px;
    font-weight: 700;
    color: #006c00;
    font-size: 15px;
}

.pass-wpr-lbl-2 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    position: absolute;
    right: 25px;
    top: 128px;
    font-weight: 700;
    color: #006c00;
    font-size: 15px;
}

.print-pg-pass-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.print_form-inr-pass1 {
    margin: 0px auto;
    padding: 0px;
    width: 800px;
    height: auto;
}

.print_form-inr-pass {
    margin: 0px 0px 30px 0px;
    padding: 10px 10px;
    width: 800px;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
}

.messbox-sec-h2 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: 600;
}
