@font-face {
    font-family: certificate;
    src: url(../assets/fonts/certificate/Certificate-Bold.ttf);
}

@font-face {
    font-family: 'K2D';
    src: url(../assets/fonts/k2d-cufonfonts/K2D-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'K2D';
    src: url(../assets/fonts/k2d-cufonfonts/K2D-Medium.ttf);
    font-weight: normal;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

    .table td, .table th {
        background-color: #fff;
    }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, #form1 {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    font-family: 'K2D';
}

h2, h2, h3, h4, h5, h6 {
    font-family: 'K2D';
}

.section {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.hidden {
    display: none;
}

.print_form {
    margin: 0px auto;
    padding: 0px;
    width: 850px;
    height: auto;
}

.print_form-inr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: auto;
    float: left;
    border: 0px solid #ddd;
}

.print_form-img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

    .print_form-img img {
        margin: 0px auto;
        float: left;
        padding: 0px 10px 0px 0px;
    }

.print_form-dtls {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.dtls_grp {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    width: 50%;
    height: auto;
    float: left;
}

.dtls_grp-inr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.dtls_grp-h {
    height: auto;
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #c54262;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    text-align: left;
}

.dtls_grp-lbl {
    height: auto;
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #000;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    text-align: left;
}

.print_table {
    margin: 2px 0px 2px 0px;
    padding: 10px 40px 10px 10px;
    width: 100%;
    height: auto;
    float: left;
}

table tr td {
    padding: 4px 4px !important;
    border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 500;
}
/*.print_table tr {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: auto;
        float: left;
        border: none;
    }

        .print_table tr td {
            height: auto;
            width: 25%;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            float: left;
            color: #c54262;
            font-size: 16px;
            line-height: 29px;
            font-weight: 400;
            text-align: left;
            border: none;
        }*/


.prnt-btn-sec {
    margin: 20px 0px 1px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.prnt-btn-sec-cntr {
    margin: 0px auto;
    padding: 0px;
    width: 850px;
    height: auto;
}

.print-pg-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.print-btn-sec {
    margin: 0px;
    padding: 3px;
    width: 100%;
    height: auto;
    float: left;
    /*background: #eafff3;*/
}

.print-btn {
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    background: url(../images/print.png) no-repeat;
    background-size: 100%;
    background-color: #780a23;
    border: 5px solid #770821;
    cursor: pointer;
    float: right;
}

.back-btn {
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    background: url(../images/back.png) no-repeat;
    background-size: 100%;
    background-color: #780a23;
    border: 5px solid #770821;
    cursor: pointer;
}

.dtls_grp-p {
    height: auto;
    width: 100%;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    color: #770821;
    font-size: 17px;
    line-height: 29px;
    font-weight: 600;
    text-align: center;
}

.success-htitle-h {
    height: auto;
    width: 100%;
    margin: 6px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    float: left;
    color: #040404;
    font-size: 27px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
}

.print_form-dtls-ps {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

    .print_form-dtls-ps span {
        font-weight: 500;
    }

.pass-wpr {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    position: relative;
}

    .pass-wpr img {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        float: left;
    }

.pass-wpr-lbl-1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: absolute;
    right: 25px;
    top: 99px;
    font-weight: 700;
    color: #006c00;
    font-size: 15px;
}

.pass-wpr-lbl-2 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    position: absolute;
    right: 25px;
    top: 128px;
    font-weight: 700;
    color: #006c00;
    font-size: 15px;
}

.print-pg-pass-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.print_form-inr-pass1 {
    margin: 0px auto;
    padding: 0px;
    width: 800px;
    height: auto;
}

.print_form-inr-pass {
    margin: 0px 0px 30px 0px;
    padding: 10px 10px;
    width: 800px;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
}

.messbox-sec-h2 {
    margin: 0px;
    padding: 1px 0px 3px 5px;
    width: 100%;
    float: left;
    font-size: 19px;
    font-weight: 600;
    background: #ff9b00;
}

.pntsHeadS {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.pntsDatesS {
    margin: 0px 0px 4px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.pdispnone {
    display: none;
}

tfoot, th, thead {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: middle;
    background: #6997df !important;
    padding: 5px 11px 5px 8px !important;
    font-size: 12px !important;
}

/*@media print {

    tfoot, th, thead {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        vertical-align: middle;
        background: #1c77fd!important;
        padding: 9px 11px 10px 8px!important;
    }

    .printborder {
        border: 1px solid #000;
        padding: 5px;
        min-height: 970px;
    }

    #content {
        display: table;
    }

    #pageFooter {
        display: table-footer-group;
    }

        #pageFooter:after {
            counter-increment: page;
            content: counter(page);
            left: 0;
            top: 100%;
            white-space: nowrap;
            z-index: 20;
            -moz-border-radius: 5px;
            -moz-box-shadow: 0px 0px 4px #222;
            background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
        }

        #pageFooter:after {
            counter-increment: page;
            content: counter(page);
        }

    #pageFooter {
        display: block;
    }

    @page {
        @bottom-left {
            content: counter(page) ' of ' counter(pages);
        }
    }

    @page {
        size: A4;
        margin: 0;
    }*/

body {
    margin: 0;
}

.hid_data_1 {
    display: none !important;
}

.pgslry-head-div {
    border-bottom: 1px solid #000;
    margin: 0px;
    float: left;
}

.head {
    float: left !important;
    width: 100% !important;
    border-bottom: 2px solid #000 !important;
    margin-bottom: 5px !important;
}

.graybg {
    background: #ddd !important;
}

.greenbg {
    background: #94f17d !important;
}

.pageheights {
    margin: 0px;
    padding: 0px;
    min-height: 1050px;
    width: 100%;
    float: left;
}

.paid-cat-div-p {
    margin: 0px !important;
    padding: 3px 0px 3px 0px !important;
    width: 100% !important;
    float: left !important;
}

@media print {
    .paid-cat-div-p {
        margin: 0px !important;
        padding: 3px 0px 3px 0px !important;
        width: 100% !important;
        float: left !important;
    }
}

.paging_simple_numbers {
    display: none !important;
}

.dataTables_filter {
    display: none !important;
}

.dt-buttons {
    display: none !important;
}

.dataTables_info {
    display: none !important;
}

#pageFooter {
    display: none !important;
}

.dt-buttons {
    display: none !important;
}

.daySunday {
    background: #ff7373 !important;
}

.tdwdth {
    width: 65px !important;
    display: inline-block;
    font-weight: 600;
    font-style: inherit;
}

.daypresenT {
    background: #5afb3d !important;
}

.dayabsenT {
    background: #fff84b !important;
}

.dayleavE {
    background: #ffb100 !important;
}

.txtcenter {
    text-align: center;
}

.notattendances {
    background: #ef91ff !important;
}

tfoot, th, thead {
    color: #fff;
}

.notesp {
    margin: 0px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
}

    .notesp span {
        font-weight: 600;
    }

.headgroup1 {
    background: #c541c7 !important;
}

.headgroup2 {
    background: #58aac9 !important;
}

.tdgroup1 {
    background: #c5ef96 !important;
}

.monthsdVS {
    border: 1px solid #cefdb9;
    margin: 7px 0px 7px 0px;
    padding: 5px 10px;
    width: 100%;
    float: left;
    background: #eaffe1;
    border-radius: 2px;
}

.monthsdVS-p {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

    .monthsdVS-p span {
        margin: 0px;
        padding: 0px;
    }

.mrgn-brm {
    margin: 0px;
}

.txtnoWrap {
    white-space: nowrap;
}

.std-infos {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

    .std-infos table {
        width: 100%;
    }

        .std-infos table tr th {
            padding: 5px 10px !important;
            background: #f5fff6 !important;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            border: 1px solid #ddd;
        }

        .std-infos table tr td {
            padding: 5px 10px;
            border: 1px solid #ddd;
        }

.wdth100 {
    width: 100%;
    float: left;
}


.images-wprs {
    margin: 10px 0px 0px 0px;
    padding: 3px;
    width: 100%;
    float: left;
    border: 1px solid #ddd;
}

.images-wprsimges {
    margin: 0px 0px 0px 0px;
    padding: 0px 3px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: flex;
}

.images-dv-wprs {
    margin: 8px 3px 3px 3px;
    padding: 3px 0px;
    width: 100%;
    float: left;
    border: 1px solid #ddd;
}

    .images-dv-wprs img {
        width: 90%;
        margin: 0px auto;
    }

.images-dv-wprs-name-pdv {
    margin: 0px;
    padding: 3px 3px;
    width: 100%;
    float: left;
    height: 50px;
    border-top: 1px solid #ddd;
    align-items: center;
    display: flex;
}

.images-dv-wprs-name-p {
    margin: 0px;
    padding: 3px 3px;
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wpr-pnrt {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    height: 1980px;
}

.certificate-type-name-t-sec {
    margin: 6px 0px 6px 0px;
    padding: 0px 0px;
    width: 100%;
    text-align: center;
    float: left;
}

.t-crtifcate-hdr-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #afafaf;
}

.t-crtifcate-logo-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 16%;
    float: left;
    height: 116px;
    align-items: center;
    display: flex;
}

    .t-crtifcate-logo-sec img {
        width: 100%;
    }

.t-crtifcate-hdr-contnt-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    width: 68%;
    float: left;
}


.t-certificate-comp-name-h {
    margin: 2px 0px 5px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.t-certificate-comp-add-p {
    margin: 1px 0px 5px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
}

.t-certificate-comp-mail-p {
    margin: 1px 0px 3px 0px;
    padding: 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
}

    .t-certificate-comp-mail-p span {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        text-decoration: underline;
    }

.t-certificate-type-name-h {
    margin: 0;
    padding: 2px 10px;
    width: auto;
    background: #dbdbdb;
    display: initial;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0px;
    border-radius: 2px;
}

.studnt-img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 130px;
    height: 145px;
}

.fthers-img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 130px;
    height: 145px;
}

.fthers-signDV {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 130px;
    height: 45px;
    text-align: center;
}

.fthers-sign {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    max-width: 130px;
    height: 45px;
}

.mothrrs-img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 130px;
    height: 145px;
}

.mothrrs-signDV {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 130px;
    height: 45px;
    text-align: center;
}

.mothrrs-sign {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    max-width: 130px;
    height: 45px;
}

.fontwt400 {
    font-weight: 400;
}

.fontwt700 {
    font-weight: 700;
}
