.container-small {
    margin-left: -45px;
    margin-right: -45px;
}

.txtbx-dv {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.name-name-p {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.grids-wprs {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}
/*====================================*/

.conf-alrt-sec {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    display: block;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.26);
    overflow-x: hidden;
    overflow-y: auto;
}

.conf-alrt-inr {
    width: 1000px;
    margin: 5px auto;
    background: #fff;
    padding: 10px 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.popup-dt-h {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    width: auto;
    height: auto;
    font-size: 19px;
    float: left;
    color: #333;
    letter-spacing: .5px;
}

.conf-alrt-msg-p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-size: 15px;
    color: #333;
    letter-spacing: .5px;
}

.conf-btn-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    text-align: right;
}

    .conf-btn-ul li {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: inline;
    }

        .conf-btn-ul li a {
            margin: 0px 5px;
            padding: 2px 6px 1px;
            text-decoration: none;
            background: #ff003b;
            color: #fff;
            width: 50px;
            float: right;
            text-align: center;
            border-radius: 3px;
            font-size: 13px;
            line-height: 24px;
            font-weight: 600;
        }

.popupTablWpR {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

    .popupTablWpR table {
        width: 100%;
    }

        .popupTablWpR table tr td {
            padding: 4px 4px;
            border: 1px solid #ddd;
            font-size: 12px;
        }

thead, tbody, tfoot, tr, td, th {
    font-size: 12px;
    vertical-align: middle;
}

.selectitems-btn {
    background: #4a6e45;
    color: #fff;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    font-weight: 600;
    text-decoration: underline;
}

.save-btns {
    box-shadow: inset 0 0 0 1px var(--primary)!important;
    color: #fff;
    background: #4a6e45;
    font-family: var(--font);
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1rem;
    margin: 23px 0px 0px 0px;
    border: initial;
    box-shadow: initial!important;
    transition: all var(--transition-time-short);
    transition-property: color,background-color,background-image,background;
    border-radius: var(--border-radius-md);
    color: var(--light-text)!important;
    white-space: nowrap;
}

.floatrght {
    float: right;
}

.notificationpan {
    display: none;
    top: auto;
    width: 100%;
    background-color: #ff2323;
    position: fixed;
    bottom: 49px;
    right: 10px;
    padding: 6px 7px;
    width: 270px;
    height: auto;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 2px;
    border: 1px solid #000;
    box-shadow: 0px 3px 14px 1px rgb(87 87 87 / 48%);
}

.closenotificationpan {
    position: absolute;
    margin: 0px 0px 0px 0px;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

#notification {
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 999999;
}

.notif-txt {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    z-index: 999999;
    porsition: relative;
    font-family: 'IBM Plex Sans', sans-serif;
}

.chkout-odr-smry-ttl-cart {
    margin: 15px 0 10px 0;
    padding: 0 10px;
    height: auto;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #333;
    position: relative;
    text-align: right;
}

    .chkout-odr-smry-ttl-cart span {
        float: left;
        font-size: 18px;
    }

.appCoupoN {
    margin: 0;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #ddd;
}

.btn-show-coupon {
    margin: 0;
    padding: 5px 5px 5px 5px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    background: #ff3664;
    border: 2px solid #f52454;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    FONT-WEIGHT: 500;
    line-height: 21px;
    border-radius: var(--border-radius-md);
}

.fnl-ttl-sec {
    margin: -16px 0px 0px 1px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
    border: 1px solid #ddd;
    border-top: 0px;
}

.fnl-submit-btn {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
}

.fnl-submit-btnn {
    margin: 10px 0px 10px 0px;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
}

.coupn-txtbxdv {
    width: 65%;
    float: left;
    margin: 0px 13px 0px 0px;
}

.coupn-btndv {
    width: 31%;
}

.btn-show-coupon:hover {
    color: #fff;
}

.coupn-applied-sec {
    margin: 0 0 5px 0;
    padding: 4px 5px 6px;
    width: 100%;
    height: auto;
    float: left;
    border: 2px dashed #55cb18;
}

.summaryImg {
    margin: 0 7px 0 0;
    padding: 0;
    width: 55px;
    height: auto;
    float: left;
    border: 1px solid #ebebeb;
}

.remove-applied-coupon {
    margin: 2px 0 0 0;
    padding: 0 4px 1px;
    width: auto;
    height: auto;
    float: left;
    background: #e31057;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

    .remove-applied-coupon:hover {
        color: #fff;
    }

.coupon-minus-sign {
    margin: 0;
    padding: 2px 0 0 20px;
    width: auto;
    height: auto;
    float: left;
    letter-spacing: 2px;
    font-weight: 500;
}

.applied-minus-amt {
    margin: 3px 0 0 0;
    padding: 0;
    width: auto;
    height: auto;
    float: right;
    font-size: 14px;
    font-weight: 400;
}

.coupon-disc-sec {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: auto;
    float: left;
}

.low-cart-btn-hrd-ul {
    margin: 0 0;
    padding: 0;
}

    .low-cart-btn-hrd-ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline;
    }

        .low-cart-btn-hrd-ul li a {
            margin: 0;
            padding: 4px 6px 6px 6px;
            text-decoration: none;
            background: #7a7a7a;
            border-radius: 2px;
            color: #fff;
            position: absolute;
            top: 7px;
            right: 10px;
            font-size: 14px;
        }

            .low-cart-btn-hrd-ul li a:hover {
                color: #fff;
            }

.coupon-listing-sec {
    margin: 10px 0 3px 0;
    padding: 0 5px 15px 5px;
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #b8b5b5;
}

.coupon-sort-desc {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
}

.coupon-code-p {
    margin: 0;
    padding: 2px 5px 3px 5px;
    width: auto;
    height: auto;
    float: left;
    border: 1px dashed #000;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 600;
}

.coupon-apply-btn {
    margin: 5px 0 0 0;
    padding: 3px 6px 2px 6px!important;
    width: auto;
    height: auto;
    float: right;
    background: #0a7995!important;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    letter-spacing: .5px;
}

    .coupon-apply-btn:hover {
        color: #fff!important;
    }

.coupon-tc-btn {
    margin: 6px 0 0 0;
    padding: 0;
    width: auto;
    height: auto;
    float: left;
    color: #c18170!important;
    font-size: 14px;
    font-weight: 500;
}

.tc-ul {
    margin: 5px 0 0 20px;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
}

    .tc-ul li {
        margin: 0;
        padding: 4px 0 4px 11px;
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        list-style-type: none;
        font-size: 14px;
    }

        .tc-ul li:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #000;
            position: absolute;
            left: 0;
            top: 12px;
        }

.chkout-odr-smry-list-ul {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: auto;
    float: left;
}

    .chkout-odr-smry-list-ul li {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        float: left;
        list-style-type: none;
    }

        .chkout-odr-smry-list-ul li a {
            margin: 0;
            padding: 10px 0;
            width: 100%;
            height: auto;
            float: left;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            letter-spacing: 0;
            color: #333;
            border-bottom: 1px solid #f2f2f2;
        }

            .chkout-odr-smry-list-ul li a span {
                margin: 0;
                padding: 0;
                float: right;
            }

.chkout-odr-smry-list-ul-p {
    height: auto;
    float: none!important;
    font-size: 11px;
    line-height: 24px;
    font-weight: 300;
    color: #333;
}

.ttlamtS {
    float: right !important;
}

.wallet-apply-sec {
    margin: 0 0 5px 0;
    padding: 4px 0px 6px;
    width: 100%;
    height: auto;
    float: left;
}

.wllet-secdv {
    margin: 0 0 0px 0;
    padding: 5px 10px 0px;
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
}

.wllet-ddct-amt-txtbx {
    margin: 0 5px 0px 0;
    width: auto;
    max-width: 80px;
    height: 25px;
    padding: 2px 10px 0px 10px;
    line-height: 10px;
    min-height: 30px;
    float: right;
}

.wllet-apply-btns {
    margin: 2px 0 0 0;
    padding: 3px 6px 4px;
    width: auto;
    height: auto;
    background: #e31057;
    text-decoration: none;
    color: #fff;
    float: right;
    border-radius: var(--border-radius-md);
}

    .wllet-apply-btns:hover {
        color: #fff;
    }

.txtbxError {
    border: 1px solid #f00;
}

.brcode-txtbxdv {
    margin: 0 0 0px 0;
    padding: 5px 0px 15px 0px;
    width: 100%;
    float: left;
}

.name-name-cusdt-p {
    margin: 0 0 0px 0;
    padding: 0px 0px 5px 0px;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

.avalwltt-blnce-p {
    margin: 0 0 0px 0;
    padding: 0px 0px 5px 0px;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

.avalwltt-blnceDV {
    background: #fff;
    padding: 5px 0px 1px 0px;
    text-align: center;
    border-radius: var(--border-radius-md);
    float: right;
    width: 100%;
    color: #f00;
}

@media only screen and (max-width:800px) {
    .container-small {
        margin-left: 0px;
        margin-right: 0px;
    }

    .conf-alrt-inr {
        width: 100%;
        overflow: auto;
    }

    .grids-wprs {
        overflow: auto;
    }

    .fnl-ttl-sec {
        margin: -33px 0px 0px 0px;
    }

    .coupn-txtbxdv {
        width: 54%;
    }

    .coupn-btndv {
        width: 40%;
    }

    .btn-show-coupon {
        font-size: 13px;
    }
}
