table tr th {
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #caf7f5 !important;
    color: #00614e;
}

table tr td {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #caf7f5 !important;
    color: #515151;
}

.odrhistry-bx {
    margin: 5px 0px 5px 0px;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    float: left;
    background: #eefffe;
    border: 1px solid #dae9e8;
}

.grid-wraper {
    margin: 5px 0px 5px 0px;
    padding: 0px 0px;
}

/*----------------------Loader--------------------------*/
.ints-loader-wpr {
    display: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    background: #ffffff80;
    position: fixed;
    z-index: 9999999999;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.ints-loader-wpr-inr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ints-loader {
    background-color: #ffffff;
    padding: 6px 15px;
    height: auto;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 14px 1px rgba(92, 91, 91, 0.85);
}


.ints-loader-txt {
    color: #414141;
    font-weight: 600;
    font-size: 18px;
    z-index: 999999;
    position: relative;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    margin: 0px;
    text-align: center;
    line-height: 30px;
}

.ints-loader-img {
    width: 30px;
    margin: 0px 8px 0px 0px;
}

.job-not-fount-div {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    background: #ff8ed2;
    text-align: center;
}

.job-not-fount-p {
    margin: 0px;
    padding: 0px 0px 3px 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}

.Completed {
    background: #00f913;
}

    .Completed td {
        color: #000;
    }

.Pending {
    background: #ff1a1a;
}

    .Pending td {
        color: #fff;
    }

.hidden {
    display: none;
}



/*=======================================================================================*/
.order-tracing-sec {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.order-tracing-ico-sec {
    margin: 20px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
}

.profile-odr-id-h-sec {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
    border: 0px;
    border-bottom: 1px solid #ddd;
}

.order-tracing-ico-wpr {
    margin: 15px 0px 15px 0px;
    padding: 0px 10px;
    width: 25%;
    height: auto;
    float: left;
    position: relative;
}


.trace-bdr-right:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 125px;
    right: 0px;
    top: 28px;
    height: 5px;
    background: #ff5200;
    border: 1px solid #ddd;
}

.trac_bdr_done:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 75px;
    right: 0px;
    top: 28px;
    height: 5px;
    background: #03c700;
    border: 1px solid #ddd;
}

.order-tracing-ico-wpr-inr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.order-tracing-ico {
    margin: 0px auto;
    padding: 0px;
    display: block;
    font-size: 24px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    background: #f00;
    border-radius: 50%;
    line-height: 56px !important;
    border: 2px solid #ddd;
    z-index: 99;
    position: relative;
}

.success_ico_1 {
    background: #03c700;
}

.middl-ico {
    font-size: 18px;
}


.order-tracing-ico-wpr-p {
    margin: 15px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 500;
}

@media only screen and (max-width:800px) {
    .odrhistry-bx {
        overflow: auto;
    }

    .order-tracing-ico-sec {
        width: 1000px;
    }

    .order-tracing-ico {
        font-size: 25px;
        width: 60px;
        height: 60px;
        line-height: 58px;
    }

    .middl-ico {
        font-size: 20px;
    }

    .trac_bdr_done:after {
        top: 29px;
    }

    .trace-bdr-right:after {
        top: 29px;
    }

    .order-tracing-ico-wpr-p {
        margin: 10px 0px 0px 0px;
        text-transform: capitalize;
        font-size: 12px;
        letter-spacing: 0px;
    }

    .profile-odr-id-h {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
    }
}



.CanceledHide {
    display: none;
}

.DeliveredHide {
    display: none;
}

.PickedHide {
    display: none;
}

.ConfirmHide {
    display: none;
}



.PendingShow {
    display: inherit;
}

    .PendingShow:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 125px;
        right: 0px;
        top: 28px;
        height: 5px;
        background: #03c700;
        border: 1px solid #ddd;
        z-index: 9;
    }

.ConfirmShow {
    display: inherit;
}

    .ConfirmShow:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 125px;
        right: 0px;
        top: 28px;
        height: 5px;
        background: #03c700;
        border: 1px solid #ddd;
        z-index: 9;
    }

.PickedShow {
    display: inherit;
}

    .PickedShow:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 125px;
        right: 0px;
        top: 28px;
        height: 5px;
        background: #03c700;
        border: 1px solid #ddd;
        z-index: 9;
    }

.DeliveredShow {
    display: inherit;
}

/*.DeliveredShow:before {
        position: absolute;
        content: "";
        width: 100%;
        left: 75px;
        right: 0px;
        top: 28px;
        height: 5px;
        background: #03c700;
        border: 1px solid #ddd;
    }*/

.CanceledShow {
    display: inherit;
}

.ico-bg-green {
    background: #03c700 !important;
}





.more-info {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.more-info-p {
    margin: 1px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 12px;
    line-height: 21px;
    color: #595959;
}

.view-dtl-btn-ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

    .view-dtl-btn-ul li {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        list-style-type: none;
    }

        .view-dtl-btn-ul li a {
            background: url(../images/fabric-plaid.png) #ff0000;
            color: #fff;
            padding: 3px 5px 3px 5px;
            min-width: 50px;
            float: left;
            font-size: 13px;
            text-align: center;
            border-radius: 3px;
            transition: .3s ease-out;
            text-decoration: none;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
        }

.ordDeliver {
    background: #03ad00 !important;
}

.ordPending {
    background: #c4ce00 !important;
}

.ordPicked {
    background: #1d9ea9 !important;
}

.ordConfirm {
    background: #3910c0 !important;
}
