table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0;
}

.table {
    border-collapse: collapse;
}

    .table td, .table th {
        background-color: #fff;
    }

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------------*/

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/




body {
    font-family: "Sofia Sans", sans-serif;
}

h2 {
    font-family: "Sofia Sans", sans-serif;
}

.print-div {
    margin: 0px auto;
    padding: 0px;
    width: 920px;
    height: auto;
}

.ids-back-img {
    width: 360px;
    height: 228px;
    float: left;
    overflow: hidden;
}

.ids-back-img-wpr {
    width: 360px;
    height: 228px;
}

.ids-center {
    margin: 25px 10px;
    padding: 0px;
    width: 360px;
    float: left;
    height: 228px;
    position: relative;
}

.id-card-hr-prnt-wpr {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 228px;
    float: left;
    position: absolute;
}

/*///////////*/

.ids-back-img-vr {
    width: 375px;
    height: 600px;
    float: left;
    overflow: hidden;
}

.ids-back-img-wpr-vr {
    width: 375px;
    height: 600px;
}

.ids-center-vr {
    margin: 7px 9px;
    padding: 0px;
    width: 375px;
    height: 600px;
    float: left;
    position: relative;
}

.id-card-vr-prnt-wpr {
    margin: 0px;
    padding: 0px;
    width: 375px;
    height: 600px;
    float: left;
    position: absolute;
}
/*-----------------------------Horizontal Id Card---------------------------------*/
.id-card-hr-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 920px;
    height: auto;
    float: left;
}

.id-card-hr-sec-inr {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-hr-wpr {
    margin: 0px;
    padding: 0px;
    width: 410px;
    height: auto;
    float: left;
    position: absolute;
}

.id-card-hr-wpr-bg-color {
    margin: 0px;
    padding: 5px 7px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-hr-logo-sec {
    margin: 0px;
    padding: 0px;
    width: 60px;
    height: auto;
    float: left;
}

.id-card-hr-logo-img {
    margin: 0px;
    padding: 0px;
    width: 60px;
}

.id-card-hr-head-sec {
    margin: 5px 0px 0px 10px;
    padding: 0px;
    width: 300px;
    height: 50px;
    float: left;
}

.id-card-hr-head-text {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .5px;
    text-align: center;
    color: #e00;
    text-transform: capitalize;
}

.id-card-hr-head-locat-text {
    margin: 3px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    color: #0017b5;
    text-transform: capitalize;
}

.id-card-hr-head-img {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.id-card-hr-content-sec {
    margin: 1px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-hr-stu-img-sec {
    margin: 5px 0px 0px 5px;
    padding: 0px;
    width: 100px;
    height: auto;
    float: left;
}

.id-card-hr-stu-img {
    margin: 0px auto;
    padding: 0px;
    width: 90px;
    height: 105px;
    border: 2px solid #008fe3;
    background: #ddd;
    border-radius: 0px;
}

.id-card-hr-child-details-sec {
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 0px 5px;
    width: 240px;
    height: auto;
    float: left;
}

.id-card-hr-child-details-wpr {
    margin: 0px 0px 1px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-hr-child-details-p {
    margin: 0px 0px 3px 0px;
    padding: 0px;
    height: auto;
    float: left;
    color: #001a9a;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}

.id-card-hr-txt-color {
    color: #000000 !important;
    font-weight: 500 !important;
}

.id-card-hr-child-details-psss {
    margin: 7px 0px 6px 0px;
    padding: 0px;
    max-height: 16px;
    float: left;
    color: #000000 !important;
    font-weight: 800 !important;
    text-transform: inherit;
    font-size: 16px;
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.id-card-hr-sign-img {
    height: 35px;
    float: right;
    margin: -10px 0px 0px 0px;
}



/*-----------------------------Vertical Id Card---------------------------------*/

.id-card-vr-sec-inr {
    margin: 0px auto;
    padding: 0px;
    width: 920px;
    height: auto;
}

.id-card-vr-wpr {
    margin: 0px;
    padding: 0px;
    width: 246px;
    height: auto;
    float: left;
}

.id-card-vr-wpr-bg-color {
    margin: 0px;
    padding: 5px 7px 5px 7px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-vr-logo-sec {
    margin: 0px;
    padding: 0px;
    width: 55px;
    height: auto;
    float: left;
}

.id-card-vr-logo-img {
    margin: 0px;
    padding: 0px;
    width: 55px;
}

.id-card-vr-head-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 200px;
    height: 62px;
    float: left;
}

.id-card-vr-head-text {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    text-align: center;
    color: #e00;
    text-transform: capitalize;
}

.id-card-vr-head-locat-text {
    margin: 3px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    color: #0017b5;
    text-transform: capitalize;
}

.id-card-vr-head-img {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.id-card-vr-content-sec {
    margin: 60px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-vr-stu-img-sec {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    height: 165px;
    width: 165px;
    position: relative;
    text-align: right;
    overflow: hidden;
    border-radius: 50%;
    border: 0px solid #000000;
}

.id-card-vr-stu-img-dvinnr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 141px;
    width: 140px;
    float: right;
    overflow: hidden;
}

.id-card-vr-stu-img {
    margin: 0px;
    padding: 0px;
    width: 170px;
    border: 0px solid #008fe3;
    background: #ddd;
    border-radius: 50px;
}

.id-card-vr-child-details-sec {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-vr-child-details-wpr {
    margin: 0px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
}

.emp-id-contnt-wpr {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px;
    width: 100%;
    float: left;
}

.id-card-vr-child-details-p {
    margin: 7px 0px 6px 0px;
    padding: 0px;
    height: auto;
    float: left;
    color: #000000;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 15px;
}

    .id-card-vr-child-details-p span {
        padding: 0px;
        width: 95px;
        float: left;
    }

    .id-card-vr-child-details-p i {
        padding: 0px;
        width: 7px;
        display: inline-block;
        font-style: inherit;
        font-weight: 800;
    }

.id-card-vr-txt-color {
    color: #000000;
}

.id-card-vr-sign-img {
    height: 35px;
    float: right;
    margin: -10px 20px 0px 0px;
}

.regnosec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 8px;
    left: 0px;
}

.regnosec-id-card-vr-child-details-p {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    height: auto;
    float: left;
    color: #ffffff;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 15px;
    width: 100%;
    text-align: center;
}

    .regnosec-id-card-vr-child-details-p span {
        padding: 0px;
        width: 51px;
        float: left;
    }

    .regnosec-id-card-vr-child-details-p i {
        padding: 0px;
        width: 5px;
        display: inline-block;
        font-style: inherit;
    }

.regnosec-id-card-hr-child-details-psss {
    margin: 0px 0px 3px 0px;
    padding: 0px;
    max-height: 15px;
    float: right;
    color: #000000 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*----------------------------------------------------*/
.id-card-page-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.id-card-page-wpr {
    margin: 0px auto;
    padding: 0px;
    width: 920px;
    height: auto;
}

.id-card-page-print-btn-sec {
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    float: left;
}

.namespp {
    margin: 10px 0px 5px 0px;
    padding: 8px 0px 7px 0px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    color: #000000 !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .5px;
}

.devider {
    height: 1px;
    float: left;
    width: 100%;
}

.stdimgDV {
    margin: 19px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    float: left;
    text-align: center;
}

.regnosec-id-card-sessions {
    margin: 34px 0px 5px 0px;
    padding: 0px 7px 0px 41px;
    height: auto;
    float: left;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 15px;
    width: 100%;
    text-align: center;
}

.id-card-hr-child-details-address {
    margin: 3px 0px 4px 0px;
    padding: 0px;
    /* max-height: 34px; */
    float: left;
    color: #000000 !important;
    font-weight: 800 !important;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 67%;
}

.idspadd {
    margin: 0px;
}
