.jqstooltip { 
        position: absolute;
        left: 30px;
        top: 0px;
        display: block;
        visibility: hidden;                  
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0,0,0,0.6);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        border: 0px solid white;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        z-index: 10000;

    }
    .jqsfield { 
        color: white;
        padding: 5px 5px 5px 5px;
        font: 10px arial, san serif;
        text-align: left;
    }
